###########################################################
# sTGC
###########################################################

#############
# Output
#############

output top_level {
  output MuonDetectors {
    output STGC {
      output Shifter {
        output Global {
        }
        output OccupancyEA {
        }
        
      }
      output Expert {
        output Summary {
    output ClusterSize {
    }
    output Time {
    }
    output Charge {
    }
    output Residuals {
    }
    
        }
        output StripsPerSectorEA {
        }
      }
    }
  }
}

#######################
# Histogram Assessments
#######################
dir Muon {

  dir MuonRawDataMonitoring {
    #reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences

    dir sTgc {
      algorithm = stgc_Histogram_Not_Empty
      dir Overview {
        
         hist Charge {
          output = MuonDetectors/STGC/Expert/Summary/Charge
          algorithm = stgc_GatherData
         }
        }
       }
     }
   }
  }
#############
# Algorithms
#############
algorithm stgc_Histogram_Not_Empty {
  libname = libdqm_algorithms.so
  name = Histogram_Not_Empty
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

algorithm stgc_GatherData {
  name = GatherData
  libname = libdqm_algorithms.so
}



