###########################################################
# sTGC
###########################################################

#############
# Output
#############

output top_level {
  output MuonDetectors {
    output STGC {
      output Shifter {
        output Global {
        }
        output OccupancyEA {
        }
        
      }
      output Expert {
        output Summary {
    output ClusterSize {
    }
    output Time {
    }
    output Charge {
      output Strip {
      }
      output Pad {
      }
      output Wire {
      }
    }
    output Residuals {
    }
    
        }
        output StripsPerSectorEA {
        }
      }
    }
  }
}

#######################
# Histogram Assessments
#######################
dir Muon {

  dir MuonRawDataMonitoring {
    #reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences

    dir sTgc {
      algorithm = stgc_Histogram_Not_Empty
      dir Overview {
        
         hist Charge {
          output = MuonDetectors/STGC/Shifter/Global
          algorithm = stgc_GatherData
         }
         hist Number_of_strips_percluster {
          output = MuonDetectors/STGC/Shifter/Global
          algorithm = stgc_GatherData
         }
         hist Strip_Time {
          output = MuonDetectors/STGC/Shifter/Global
          algorithm = stgc_GatherData
         }
         hist Strip_Charge {
          output = MuonDetectors/STGC/Shifter/Global
          algorithm = stgc_GatherData
         }
         hist Strip_Number {
          output = MuonDetectors/STGC/Shifter/Global
          algorithm = stgc_GatherData
         }
         hist Time {
          output = MuonDetectors/STGC/Shifter/Global
          algorithm = stgc_GatherData
         }
         hist Posx_vs_Posy {
          output = MuonDetectors/STGC/Shifter/Global
          algorithm = stgc_GatherData          
         }
         hist R_vs_Posz {
          output = MuonDetectors/STGC/Shifter/Global
          algorithm = stgc_GatherData
         }
       }
       dir ASide {
         dir Summary {
           hist ChargePad_vs_phi_vs_eta_ASide_multiplet_1_gasgap_1 { 
              output = MuonDetectors/STGC/Expert/Summary/Charge/Pad
              algorithm = stgc_BinsOutOfRange_Charge_Pad   
           
           }
           hist ChargeStrip_vs_phi_vs_eta_ASide_multiplet_1_gasgap_1 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Strip
              algorithm = stgc_BinsOutOfRange_Charge_Strip 
           
           }
           hist ChargeWire_vs_phi_vs_eta_ASide_multiplet_1_gasgap_1 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Wire
              algorithm = stgc_BinsOutOfRange_Charge_Wire
              
           }
           hist ChargePad_vs_phi_vs_eta_ASide_multiplet_1_gasgap_2 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Pad
              algorithm = stgc_BinsOutOfRange_Charge_Pad

           }
           hist ChargeStrip_vs_phi_vs_eta_ASide_multiplet_1_gasgap_2 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Strip
              algorithm = stgc_BinsOutOfRange_Charge_Strip 

           }
           hist ChargeWire_vs_phi_vs_eta_ASide_multiplet_1_gasgap_2 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Wire
              algorithm = stgc_BinsOutOfRange_Charge_Wire
              
           }
           hist ChargePad_vs_phi_vs_eta_ASide_multiplet_1_gasgap_3 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Pad
              algorithm = stgc_BinsOutOfRange_Charge_Pad

           }
           hist ChargeStrip_vs_phi_vs_eta_ASide_multiplet_1_gasgap_3 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Strip
              algorithm = stgc_BinsOutOfRange_Charge_Strip 

           }
           hist ChargeWire_vs_phi_vs_eta_ASide_multiplet_1_gasgap_3 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Wire
              algorithm = stgc_BinsOutOfRange_Charge_Wire
              
           }
           hist ChargePad_vs_phi_vs_eta_ASide_multiplet_1_gasgap_4 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Pad
              algorithm = stgc_BinsOutOfRange_Charge_Pad

           }
           hist ChargeStrip_vs_phi_vs_eta_ASide_multiplet_1_gasgap_4 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Strip
              algorithm = stgc_BinsOutOfRange_Charge_Strip 

           }
           hist ChargeWire_vs_phi_vs_eta_ASide_multiplet_1_gasgap_4 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Wire
              algorithm = stgc_BinsOutOfRange_Charge_Wire
              
           }
          
           hist ChargePad_vs_phi_vs_eta_ASide_multiplet_2_gasgap_1 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Pad
              algorithm = stgc_BinsOutOfRange_Charge_Pad

           }
           hist ChargeStrip_vs_phi_vs_eta_ASide_multiplet_2_gasgap_1 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Strip
              algorithm = stgc_BinsOutOfRange_Charge_Strip 

           }
           hist ChargeWire_vs_phi_vs_eta_ASide_multiplet_2_gasgap_1 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Wire
              algorithm = stgc_BinsOutOfRange_Charge_Wire
              
           }
           hist ChargePad_vs_phi_vs_eta_ASide_multiplet_2_gasgap_2 { 
              output = MuonDetectors/STGC/Expert/Summary/Charge/Pad
              algorithm = stgc_BinsOutOfRange_Charge_Pad
           
           }
           hist ChargeStrip_vs_phi_vs_eta_ASide_multiplet_2_gasgap_2 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Strip
              algorithm = stgc_BinsOutOfRange_Charge_Strip 
           
           }
           hist ChargeWire_vs_phi_vs_eta_ASide_multiplet_2_gasgap_2 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Wire
              algorithm = stgc_BinsOutOfRange_Charge_Wire
              
           }
           hist ChargePad_vs_phi_vs_eta_ASide_multiplet_2_gasgap_3 { 
              output = MuonDetectors/STGC/Expert/Summary/Charge/Pad
              algorithm = stgc_BinsOutOfRange_Charge_Pad
           
           }
           hist ChargeStrip_vs_phi_vs_eta_ASide_multiplet_2_gasgap_3 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Strip
              algorithm = stgc_BinsOutOfRange_Charge_Strip 
           
           }
           hist ChargeWire_vs_phi_vs_eta_ASide_multiplet_2_gasgap_3 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Wire
              algorithm = stgc_BinsOutOfRange_Charge_Wire
              
           } 
           hist ChargePad_vs_phi_vs_eta_ASide_multiplet_2_gasgap_4 { 
              output = MuonDetectors/STGC/Expert/Summary/Charge/Pad
              algorithm = stgc_BinsOutOfRange_Charge_Pad
           
           }
           hist ChargeStrip_vs_phi_vs_eta_ASide_multiplet_2_gasgap_4 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Strip
              algorithm = stgc_BinsOutOfRange_Charge_Strip 
           
           }
           hist ChargeWire_vs_phi_vs_eta_ASide_multiplet_2_gasgap_4 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Wire
              algorithm = stgc_BinsOutOfRange_Charge_Wire
              
           }
         } 
        }
       dir CSide {
         dir Summary {
           hist ChargePad_vs_phi_vs_eta_CSide_multiplet_1_gasgap_1 { 
              output = MuonDetectors/STGC/Expert/Summary/Charge/Pad
              algorithm = stgc_BinsOutOfRange_Charge_Pad   
           
           }
           hist ChargeStrip_vs_phi_vs_eta_CSide_multiplet_1_gasgap_1 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Strip
              algorithm = stgc_BinsOutOfRange_Charge_Strip 
           
           }
           hist ChargeWire_vs_phi_vs_eta_CSide_multiplet_1_gasgap_1 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Wire
              algorithm = stgc_BinsOutOfRange_Charge_Wire
              
           }
           hist ChargePad_vs_phi_vs_eta_CSide_multiplet_1_gasgap_2 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Pad
              algorithm = stgc_BinsOutOfRange_Charge_Pad

           }
           hist ChargeStrip_vs_phi_vs_eta_CSide_multiplet_1_gasgap_2 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Strip
              algorithm = stgc_BinsOutOfRange_Charge_Strip 

           }
           hist ChargeWire_vs_phi_vs_eta_CSide_multiplet_1_gasgap_2 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Wire
              algorithm = stgc_BinsOutOfRange_Charge_Wire
              
           }
           hist ChargePad_vs_phi_vs_eta_CSide_multiplet_1_gasgap_3 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Pad
              algorithm = stgc_BinsOutOfRange_Charge_Pad

           }
           hist ChargeStrip_vs_phi_vs_eta_CSide_multiplet_1_gasgap_3 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Strip
              algorithm = stgc_BinsOutOfRange_Charge_Strip 

           }
           hist ChargeWire_vs_phi_vs_eta_CSide_multiplet_1_gasgap_3 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Wire
              algorithm = stgc_BinsOutOfRange_Charge_Wire
              
           }
           hist ChargePad_vs_phi_vs_eta_CSide_multiplet_1_gasgap_4 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Pad
              algorithm = stgc_BinsOutOfRange_Charge_Pad

           }
           hist ChargeStrip_vs_phi_vs_eta_CSide_multiplet_1_gasgap_4 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Strip
              algorithm = stgc_BinsOutOfRange_Charge_Strip 

           }
           hist ChargeWire_vs_phi_vs_eta_CSide_multiplet_1_gasgap_4 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Wire
              algorithm = stgc_BinsOutOfRange_Charge_Wire
              
           }
          
           hist ChargePad_vs_phi_vs_eta_CSide_multiplet_2_gasgap_1 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Pad
              algorithm = stgc_BinsOutOfRange_Charge_Pad

           }
           hist ChargeStrip_vs_phi_vs_eta_CSide_multiplet_2_gasgap_1 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Strip
              algorithm = stgc_BinsOutOfRange_Charge_Strip 

           }
           hist ChargeWire_vs_phi_vs_eta_CSide_multiplet_2_gasgap_1 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Wire
              algorithm = stgc_BinsOutOfRange_Charge_Wire
              
           }
           hist ChargePad_vs_phi_vs_eta_CSide_multiplet_2_gasgap_2 { 
              output = MuonDetectors/STGC/Expert/Summary/Charge/Pad
              algorithm = stgc_BinsOutOfRange_Charge_Pad
           
           }
           hist ChargeStrip_vs_phi_vs_eta_CSide_multiplet_2_gasgap_2 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Strip
              algorithm = stgc_BinsOutOfRange_Charge_Strip 
           
           }
           hist ChargeWire_vs_phi_vs_eta_CSide_multiplet_2_gasgap_2 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Wire
              algorithm = stgc_BinsOutOfRange_Charge_Wire
              
           }
           hist ChargePad_vs_phi_vs_eta_CSide_multiplet_2_gasgap_3 { 
              output = MuonDetectors/STGC/Expert/Summary/Charge/Pad
              algorithm = stgc_BinsOutOfRange_Charge_Pad
           
           }
           hist ChargeStrip_vs_phi_vs_eta_CSide_multiplet_2_gasgap_3 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Strip
              algorithm = stgc_BinsOutOfRange_Charge_Strip 
           
           }
           hist ChargeWire_vs_phi_vs_eta_CSide_multiplet_2_gasgap_3 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Wire
              algorithm = stgc_BinsOutOfRange_Charge_Wire
              
           } 
           hist ChargePad_vs_phi_vs_eta_CSide_multiplet_2_gasgap_4 { 
              output = MuonDetectors/STGC/Expert/Summary/Charge/Pad
              algorithm = stgc_BinsOutOfRange_Charge_Pad
           
           }
           hist ChargeStrip_vs_phi_vs_eta_CSide_multiplet_2_gasgap_4 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Strip
              algorithm = stgc_BinsOutOfRange_Charge_Strip 
           
           }
           hist ChargeWire_vs_phi_vs_eta_CSide_multiplet_2_gasgap_4 {
              output = MuonDetectors/STGC/Expert/Summary/Charge/Wire
              algorithm = stgc_BinsOutOfRange_Charge_Wire
           
           }   
         }
        }
       }
     }
   }
  
 
 
#############
# Algorithms
#############
algorithm stgc_Histogram_Not_Empty {
  libname = libdqm_algorithms.so
  name = Histogram_Not_Empty
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

algorithm stgc_GatherData {
  name = GatherData
  libname = libdqm_algorithms.so
}

algorithm stgc_BinsOutOfRange_Charge_Strip {
  name = GatherData
  libname = libdqm_algorithms.so
}

algorithm stgc_BinsOutOfRange_Charge_Pad {
  name = GatherData
  libname = libdqm_algorithms.so
}

algorithm stgc_BinsOutOfRange_Charge_Wire {
  name = GatherData
  libname = libdqm_algorithms.so
}

algorithm stgc_BinsOutOfRange_Charge {
  libname = libdqm_algorithms.so
  name = BinsOutOfRange
  RANGE_D = 10
  RANGE_U = 1200
  MinStat = -999999
  thresholds = stgc_range_thresholds_layer
  reference = stream=physics_Main:CentrallyManagedReferences_Main;CentrallyManagedReferences
}

#############
#thresholds
#############



thresholds stgc_range_thresholds_layer {
  #128 bins - to be updated when split in PCB
    limits NbadBins {
        #warning = 127
            #error = 115
                warning = 1
                    error = 13
  }
}  
